
#clock{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

#greeting{
    color:ghostwhite;
}

#login-form  input{
    border:none;
    background-color:transparent ;
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color:whitesmoke;
    font-size: 30px;
    text-align: center;
    outline:none;
    width:300px;
}
#login-form  input::placeholder{
    color:whitesmoke;
}

#todo-form input{
    border:none;
    background-color:transparent ;
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color:whitesmoke;
    font-size: 50px;
    text-align: center;
    outline:none;
    width:400px;
}
#todo-form input::placeholder{
    color:whitesmoke;
    font-size:30px;
}
#todo-list li{
    display:flex;
    justify-content: space-between;
    width:300px;
    color:white;
    font-size:20px;
    height:40px;
}
#todo-list li button{
    border-radius: 50%;
    background-color:silver;
   height:30px;
}

#quote{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:250px;
    color:snow;
}
#weather{
    color:white;
}
h2  #date{
    font-size: 30px;
}
h2> #time{
    font-size: 100px;
}
.hidden{
    display:none;
}
body{
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name:fade;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}